# 載入keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

import pandas as pd
import numpy as np

In [10]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv('submission.csv')

In [11]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [15]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [16]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

# 選取特徵項目

In [19]:
selected_features  = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex', 'Embarked']

In [20]:
X_train = train[selected_features]

In [21]:
y_train = train['Survived']

In [22]:
X_test = test[selected_features]

# 處理缺失值

In [23]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass      891 non-null int64
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.8+ KB

In [24]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass      418 non-null int64
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        417 non-null float64
Sex         418 non-null object
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 22.9+ KB

In [25]:
X_train['Age'].fillna(X_train['Age'].mean(), inplace=True)
X_train['Embarked'].fillna('S', inplace=True)
X_test['Age'].fillna(X_test['Age'].mean(), inplace=True)
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace=True)

C:\Users\User\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [26]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass      891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Sex         891 non-null object
Embarked    891 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.8+ KB

# 將字串類型的類別資料做轉換

In [27]:
X_train = pd.get_dummies(X_train)

In [28]:
X_train.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

In [29]:
X_test = pd.get_dummies(X_test)

In [30]:
X_test.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1

# 建立keras模型

In [31]:
model = Sequential()

In [40]:
model = Sequential()  
model.add(Dense(units=50,input_dim = 10,kernel_initializer='uniform',activation='relu'))  
model.add(Dense(30,activation='relu'))  
model.add(Dense(1,activation='sigmoid'))

In [41]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [42]:
train_his = model.fit(X_train ,y_train ,validation_split=0.1, epochs=100, batch_size=32, verbose=2)

Train on 801 samples, validate on 90 samples
Epoch 1/100
 - 0s - loss: 0.7369 - acc: 0.6467 - val_loss: 0.5667 - val_acc: 0.7000
Epoch 2/100
 - 0s - loss: 0.6067 - acc: 0.6792 - val_loss: 0.5573 - val_acc: 0.7111
Epoch 3/100
 - 0s - loss: 0.5807 - acc: 0.7004 - val_loss: 0.5171 - val_acc: 0.7444
Epoch 4/100
 - 0s - loss: 0.5598 - acc: 0.7154 - val_loss: 0.5008 - val_acc: 0.7556
Epoch 5/100
 - 0s - loss: 0.5392 - acc: 0.7253 - val_loss: 0.4659 - val_acc: 0.8111
Epoch 6/100
 - 0s - loss: 0.5188 - acc: 0.7466 - val_loss: 0.4532 - val_acc: 0.8000
Epoch 7/100
 - 0s - loss: 0.4973 - acc: 0.7815 - val_loss: 0.4407 - val_acc: 0.7889
Epoch 8/100
 - 0s - loss: 0.4808 - acc: 0.7715 - val_loss: 0.4250 - val_acc: 0.7889
Epoch 9/100
 - 0s - loss: 0.4802 - acc: 0.7903 - val_loss: 0.4514 - val_acc: 0.7889
Epoch 10/100
 - 0s - loss: 0.4640 - acc: 0.7865 - val_loss: 0.4107 - val_acc: 0.7778
Epoch 11/100
 - 0s - loss: 0.4678 - acc: 0.7840 - val_loss: 0.4096 - val_acc: 0.7889
Epoch 12/100
 - 0s - loss: 0.4604 - acc: 0.7903 - val_loss: 0.4084 - val_acc: 0.7889
Epoch 13/100
 - 0s - loss: 0.4675 - acc: 0.7740 - val_loss: 0.3907 - val_acc: 0.8222
Epoch 14/100
 - 0s - loss: 0.4455 - acc: 0.7953 - val_loss: 0.3908 - val_acc: 0.8111
Epoch 15/100
 - 0s - loss: 0.4456 - acc: 0.7965 - val_loss: 0.3872 - val_acc: 0.8222
Epoch 16/100
 - 0s - loss: 0.4654 - acc: 0.7890 - val_loss: 0.3779 - val_acc: 0.8333
Epoch 17/100
 - 0s - loss: 0.4691 - acc: 0.7965 - val_loss: 0.4029 - val_acc: 0.8222
Epoch 18/100
 - 0s - loss: 0.4466 - acc: 0.7990 - val_loss: 0.3851 - val_acc: 0.8333
Epoch 19/100
 - 0s - loss: 0.4493 - acc: 0.7965 - val_loss: 0.3814 - val_acc: 0.8222
Epoch 20/100
 - 0s - loss: 0.4421 - acc: 0.7890 - val_loss: 0.3789 - val_acc: 0.8444
Epoch 21/100
 - 0s - loss: 0.4410 - acc: 0.8090 - val_loss: 0.3736 - val_acc: 0.8333
Epoch 22/100
 - 0s - loss: 0.4425 - acc: 0.8015 - val_loss: 0.3787 - val_acc: 0.8444
Epoch 23/100
 - 0s - loss: 0.4511 - acc: 0.8027 - val_loss: 0.3743 - val_acc: 0.8222
Epoch 24/100
 - 0s - loss: 0.4303 - acc: 0.8040 - val_loss: 0.3690 - val_acc: 0.8444
Epoch 25/100
 - 0s - loss: 0.4293 - acc: 0.8115 - val_loss: 0.3685 - val_acc: 0.8333
Epoch 26/100
 - 0s - loss: 0.4341 - acc: 0.8027 - val_loss: 0.3676 - val_acc: 0.8444
Epoch 27/100
 - 0s - loss: 0.4333 - acc: 0.8140 - val_loss: 0.3616 - val_acc: 0.8333
Epoch 28/100
 - 0s - loss: 0.4366 - acc: 0.8052 - val_loss: 0.3664 - val_acc: 0.8556
Epoch 29/100
 - 0s - loss: 0.4287 - acc: 0.8127 - val_loss: 0.3602 - val_acc: 0.8333
Epoch 30/100
 - 0s - loss: 0.4327 - acc: 0.8077 - val_loss: 0.3655 - val_acc: 0.8333
Epoch 31/100
 - 0s - loss: 0.4294 - acc: 0.8002 - val_loss: 0.3559 - val_acc: 0.8556
Epoch 32/100
 - 0s - loss: 0.4378 - acc: 0.8065 - val_loss: 0.3586 - val_acc: 0.8444
Epoch 33/100
 - 0s - loss: 0.4713 - acc: 0.7890 - val_loss: 0.3587 - val_acc: 0.8444
Epoch 34/100
 - 0s - loss: 0.4500 - acc: 0.8040 - val_loss: 0.3598 - val_acc: 0.8444
Epoch 35/100
 - 0s - loss: 0.4272 - acc: 0.8140 - val_loss: 0.3570 - val_acc: 0.8444
Epoch 36/100
 - 0s - loss: 0.4200 - acc: 0.8127 - val_loss: 0.3578 - val_acc: 0.8444
Epoch 37/100
 - 0s - loss: 0.4180 - acc: 0.8165 - val_loss: 0.3570 - val_acc: 0.8444
Epoch 38/100
 - 0s - loss: 0.4217 - acc: 0.8065 - val_loss: 0.3539 - val_acc: 0.8444
Epoch 39/100
 - 0s - loss: 0.4213 - acc: 0.8115 - val_loss: 0.3540 - val_acc: 0.8556
Epoch 40/100
 - 0s - loss: 0.4317 - acc: 0.8152 - val_loss: 0.3567 - val_acc: 0.8333
Epoch 41/100
 - 0s - loss: 0.4311 - acc: 0.7990 - val_loss: 0.3561 - val_acc: 0.8444
Epoch 42/100
 - 0s - loss: 0.4151 - acc: 0.8227 - val_loss: 0.3487 - val_acc: 0.8333
Epoch 43/100
 - 0s - loss: 0.4203 - acc: 0.8165 - val_loss: 0.3527 - val_acc: 0.8444
Epoch 44/100
 - 0s - loss: 0.4161 - acc: 0.8140 - val_loss: 0.3609 - val_acc: 0.8444
Epoch 45/100
 - 0s - loss: 0.4169 - acc: 0.8090 - val_loss: 0.3642 - val_acc: 0.8444
Epoch 46/100
 - 0s - loss: 0.4165 - acc: 0.8227 - val_loss: 0.3600 - val_acc: 0.8444
Epoch 47/100
 - 0s - loss: 0.4163 - acc: 0.8190 - val_loss: 0.3470 - val_acc: 0.8333
Epoch 48/100
 - 0s - loss: 0.4112 - acc: 0.8215 - val_loss: 0.3440 - val_acc: 0.8556
Epoch 49/100
 - 0s - loss: 0.4113 - acc: 0.8202 - val_loss: 0.3483 - val_acc: 0.8444
Epoch 50/100
 - 0s - loss: 0.4182 - acc: 0.8140 - val_loss: 0.3509 - val_acc: 0.8444
Epoch 51/100
 - 0s - loss: 0.4317 - acc: 0.8177 - val_loss: 0.3568 - val_acc: 0.8444
Epoch 52/100
 - 0s - loss: 0.4077 - acc: 0.8177 - val_loss: 0.3446 - val_acc: 0.8333
Epoch 53/100
 - 0s - loss: 0.4462 - acc: 0.8065 - val_loss: 0.3539 - val_acc: 0.8333
Epoch 54/100
 - 0s - loss: 0.4458 - acc: 0.8015 - val_loss: 0.3565 - val_acc: 0.8333
Epoch 55/100
 - 0s - loss: 0.4148 - acc: 0.8077 - val_loss: 0.3451 - val_acc: 0.8556
Epoch 56/100
 - 0s - loss: 0.4234 - acc: 0.8052 - val_loss: 0.3423 - val_acc: 0.8556
Epoch 57/100
 - 0s - loss: 0.4125 - acc: 0.8215 - val_loss: 0.3440 - val_acc: 0.8556
Epoch 58/100
 - 0s - loss: 0.4223 - acc: 0.8252 - val_loss: 0.3402 - val_acc: 0.8556
Epoch 59/100
 - 0s - loss: 0.4147 - acc: 0.8165 - val_loss: 0.3561 - val_acc: 0.8444
Epoch 60/100
 - 0s - loss: 0.4106 - acc: 0.8240 - val_loss: 0.3503 - val_acc: 0.8444
Epoch 61/100
 - 0s - loss: 0.4195 - acc: 0.8202 - val_loss: 0.3452 - val_acc: 0.8556
Epoch 62/100
 - 0s - loss: 0.4070 - acc: 0.8227 - val_loss: 0.3361 - val_acc: 0.8556
Epoch 63/100
 - 0s - loss: 0.4113 - acc: 0.8252 - val_loss: 0.3497 - val_acc: 0.8444
Epoch 64/100
 - 0s - loss: 0.4089 - acc: 0.8152 - val_loss: 0.3450 - val_acc: 0.8444
Epoch 65/100
 - 0s - loss: 0.4061 - acc: 0.8227 - val_loss: 0.3455 - val_acc: 0.8556
Epoch 66/100
 - 0s - loss: 0.4034 - acc: 0.8202 - val_loss: 0.3485 - val_acc: 0.8556
Epoch 67/100
 - 0s - loss: 0.4114 - acc: 0.8252 - val_loss: 0.3424 - val_acc: 0.8556
Epoch 68/100
 - 0s - loss: 0.4095 - acc: 0.8177 - val_loss: 0.3382 - val_acc: 0.8444
Epoch 69/100
 - 0s - loss: 0.4034 - acc: 0.8277 - val_loss: 0.3401 - val_acc: 0.8556
Epoch 70/100
 - 0s - loss: 0.4035 - acc: 0.8252 - val_loss: 0.3447 - val_acc: 0.8444
Epoch 71/100
 - 0s - loss: 0.4033 - acc: 0.8190 - val_loss: 0.3411 - val_acc: 0.8444
Epoch 72/100
 - 0s - loss: 0.4141 - acc: 0.8090 - val_loss: 0.3433 - val_acc: 0.8444
Epoch 73/100
 - 0s - loss: 0.4013 - acc: 0.8252 - val_loss: 0.3495 - val_acc: 0.8556
Epoch 74/100
 - 0s - loss: 0.4681 - acc: 0.7915 - val_loss: 0.3464 - val_acc: 0.8556
Epoch 75/100
 - 0s - loss: 0.4167 - acc: 0.8152 - val_loss: 0.3447 - val_acc: 0.8333
Epoch 76/100
 - 0s - loss: 0.4039 - acc: 0.8190 - val_loss: 0.3466 - val_acc: 0.8444
Epoch 77/100
 - 0s - loss: 0.4054 - acc: 0.8277 - val_loss: 0.3597 - val_acc: 0.8333
Epoch 78/100
 - 0s - loss: 0.4481 - acc: 0.7940 - val_loss: 0.3460 - val_acc: 0.8556
Epoch 79/100
 - 0s - loss: 0.4195 - acc: 0.8140 - val_loss: 0.3645 - val_acc: 0.8444
Epoch 80/100
 - 0s - loss: 0.4116 - acc: 0.8165 - val_loss: 0.3449 - val_acc: 0.8556
Epoch 81/100
 - 0s - loss: 0.4053 - acc: 0.8302 - val_loss: 0.3462 - val_acc: 0.8444
Epoch 82/100
 - 0s - loss: 0.4043 - acc: 0.8240 - val_loss: 0.3483 - val_acc: 0.8444
Epoch 83/100
 - 0s - loss: 0.4016 - acc: 0.8240 - val_loss: 0.3410 - val_acc: 0.8556
Epoch 84/100
 - 0s - loss: 0.4019 - acc: 0.8252 - val_loss: 0.3444 - val_acc: 0.8667
Epoch 85/100
 - 0s - loss: 0.3991 - acc: 0.8202 - val_loss: 0.3485 - val_acc: 0.8556
Epoch 86/100
 - 0s - loss: 0.4039 - acc: 0.8140 - val_loss: 0.3359 - val_acc: 0.8667
Epoch 87/100
 - 0s - loss: 0.4012 - acc: 0.8327 - val_loss: 0.3464 - val_acc: 0.8444
Epoch 88/100
 - 0s - loss: 0.4003 - acc: 0.8227 - val_loss: 0.3591 - val_acc: 0.8222
Epoch 89/100
 - 0s - loss: 0.3991 - acc: 0.8215 - val_loss: 0.3427 - val_acc: 0.8444
Epoch 90/100
 - 0s - loss: 0.4071 - acc: 0.8215 - val_loss: 0.3472 - val_acc: 0.8444
Epoch 91/100
 - 0s - loss: 0.4031 - acc: 0.8290 - val_loss: 0.3443 - val_acc: 0.8556
Epoch 92/100
 - 0s - loss: 0.3987 - acc: 0.8252 - val_loss: 0.3481 - val_acc: 0.8444
Epoch 93/100
 - 0s - loss: 0.4067 - acc: 0.8202 - val_loss: 0.3518 - val_acc: 0.8444
Epoch 94/100
 - 0s - loss: 0.3986 - acc: 0.8265 - val_loss: 0.3492 - val_acc: 0.8444
Epoch 95/100
 - 0s - loss: 0.3920 - acc: 0.8227 - val_loss: 0.3456 - val_acc: 0.8556
Epoch 96/100
 - 0s - loss: 0.3960 - acc: 0.8240 - val_loss: 0.3399 - val_acc: 0.8556

Epoch 97/100
 - 0s - loss: 0.4058 - acc: 0.8227 - val_loss: 0.3611 - val_acc: 0.8333
Epoch 98/100
 - 0s - loss: 0.4371 - acc: 0.8027 - val_loss: 0.3526 - val_acc: 0.8111
Epoch 99/100
 - 0s - loss: 0.4040 - acc: 0.8302 - val_loss: 0.3408 - val_acc: 0.8333
Epoch 100/100
 - 0s - loss: 0.4134 - acc: 0.8265 - val_loss: 0.3507 - val_acc: 0.8333

In [43]:
scores = model.evaluate(X_train, y_train)

891/891 [==============================] - 0s 51us/step

# 預測

In [44]:
survived_predict = model.predict(X_test)
survived_predict = np.array(survived_predict)
survived_predict = np.round(survived_predict)
survived_predict

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.]], dtype=float32)

# 輸出

In [45]:
submission=pd.DataFrame({'PassengerId':test['PassengerId'], 'Survived':survived_predict[0:418,0]})

In [47]:
submission.to_csv('submission.csv', index=False)

結果在: https://imgur.com/a/F91cMTX